.inquiry {
    padding-top: 60px;

    &__title {
        @include title();
    }

    &__wrap {
        position: relative;
        padding: 30px 20px;
        background-color: rgba(255, 255, 255,0.29);
    }

    &__message {
        font-size: $fz-m;
        font-weight: 600;
    }

    .contact {
        padding: 30px;

        .contact-item {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px;

            @include mq-down(sm) {
                display: block;
                padding: 3px;
            }

            &__name {
                font-size: $fz-m;
                font-weight: 600;
            }

            &__input {
                margin-left: 30px;
                width: 520px;

                @include mq-down(sm) {
                    width: 100%;
                    margin: 0 auto;
                }

                input {
                    height: 45px;
                    background-color: #fdf2cd;
                    background-image: none;
                    border: none;
                    border-radius: 0;
                    font-family: inherit;
                    font-size: 1.6rem;
                    padding: 8px;
                    resize: none;
                    width: 100%;
                    outline: none;
                }

                textarea {
                    height: 165px;
                    background-color: #fdf2cd;
                    background-image: none;
                    border: none;
                    border-radius: 0;
                    font-family: inherit;
                    font-size: 1.6rem;
                    padding: 8px;
                    resize: none;
                    width: 100%;
                    outline: none;
                }
            }
        }

        &__btn {
            padding-top: 30px;
            text-align: center;
        }
    }
}