//フォントファミリー
$ff-ja: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", sans-serif;
$ff-en: "futura-pt, sans-serif";


//フォントサイズ
$fz-xl: 32px;
$fz-l: 22px;
$fz-m: 18px;
$fz-s: 14px;
$fz-xs : 12px;

//リンクホバー
$transition: .3s;
$opacity: .8;